In [1]:
class_ntust = {
    'm1':'jerry',
    'm2':'terry',
}

In [4]:
class_ntust2 = {
    'm3':'jerry222',
    'm4':'terry222',
}

In [5]:
class_ntust.update(class_ntust2)

In [6]:
class_ntust

{'m1': 'jerry', 'm2': 'terry', 'm3': 'jerry222', 'm4': 'terry222'}

In [7]:
del class_ntust['m1']

In [8]:
class_ntust

{'m2': 'terry', 'm3': 'jerry222', 'm4': 'terry222'}

In [10]:
class_ntust.get('m10','找不到')

'找不到'

In [11]:
drinks = {     "item1" : {"珍珠奶茶茶","紅茶茶"},     "item2" : {"烏龍奶茶茶","烏龍茶茶"},     "item3" : {"蜂蜜紅茶茶","紅茶茶"},    }

In [12]:
type(drinks)

dict

In [15]:
drinks['item1']

{'珍珠奶茶茶', '紅茶茶'}

x=drinks['item1']

In [22]:
x=drinks['item1']

In [19]:
type(x)

set

In [20]:
iron_man_color ="XX"

In [ ]:
if iron_man_color == "紅色":
    print("鋼鐵人盔甲是紅色的")
elif iron_man_color=="綠色":
    print("鋼鐵⼈人其實也可以參參考浩克的顏⾊色") 
elif iron_man_color=="藍色":
     print("鋼鐵⼈人變成藍藍⾊色⼩小精靈也不錯")

In [2]:
def run_sth(func,*args):
    return func(*args)

In [3]:
def sum_args(*args):
    return sum(args)

In [5]:
run_sth(sum_args,1,2,3,4,5,6,7,8,9,10)

55

In [8]:
def mul(num1,num2):
    return num1*num2

In [13]:
def mul_arg(*args):
    x=1
    for num in args:
        x*=num
    return x

In [14]:
mul_arg(2,3,4)

24

In [12]:
mul_arg(1,2,3)

1

In [10]:
mul_arg(1,2,3,4)

[1, 2, 3, 4]

TypeError: can't multiply sequence by non-int of type 'tuple'