In [1]:
class_ntust = {
    'm1':'jerry',
    'm2':'terry',
}

In [4]:
class_ntust2 = {
    'm3':'jerry222',
    'm4':'terry222',
}

In [5]:
class_ntust.update(class_ntust2)

In [6]:
class_ntust

{'m1': 'jerry', 'm2': 'terry', 'm3': 'jerry222', 'm4': 'terry222'}

In [7]:
del class_ntust['m1']

In [8]:
class_ntust

{'m2': 'terry', 'm3': 'jerry222', 'm4': 'terry222'}

In [10]:
class_ntust.get('m10','找不到')

'找不到'

In [11]:
drinks = {     "item1" : {"珍珠奶茶茶","紅茶茶"},     "item2" : {"烏龍奶茶茶","烏龍茶茶"},     "item3" : {"蜂蜜紅茶茶","紅茶茶"},    }

In [12]:
type(drinks)

dict

In [15]:
drinks['item1']

{'珍珠奶茶茶', '紅茶茶'}

In [18]:
x=drinks['item1']

In [19]:
type(x)

set

NameError: name 'x' is not defined

NameError: name 'class_ntust2' is not defined